*,
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background-image: url("../Images/undraw_raining_re_4b55.svg");
  background-repeat: no-repeat;
  background-position: left top 100%;
  background-size: 80%;
}

.wrapper {
  height: 100vh;
}
h1 {
  font-weight: 600;
  font-size: 70px;
}

h2 {
  font-weight: 300;
  font-size: 50px;
  color: #ffde74;
}
.tempC,
.tempF {
  font-weight: 200;
  text-decoration: none;
  font-size: 25px;
}

p {
  font-weight: 300;
}

.list-group-item {
  background: none;
  position: relative;
  font-weight: 300;
}
.card {
  background: rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  border-color: #eaf6f6;
}
.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 16px 0 0 16px;
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.39);
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fa958e;
  border: 1px solid white;
  border-color: #fa958e;
  border-radius: 0 16px 16px 0;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}

.card-title {
  font-weight: 400;
}
